<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Changed Successfully</title>
    <link rel="stylesheet" href="/css/.css">
    <script>
        // Redirect to home page after 2 seconds
        setTimeout(() => {
            window.location.href = "/";
        }, 2000);
    </script>
    <style>
        body {
    color: #002040;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #ffcc00;
    color: #002040;
    padding: 40px;

    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 2em;
    /* margin-bottom: 20px; */
}

p {
    font-size: 1.2em;
}

    </style>
</head>
<body>
    <div class="container">
        <h2>Password Changed Successfully</h2>
        <p>Your password has been changed successfully. Redirecting to home page...</p>
    </div>
</body>
</html>
