<footer>
    <div class="foot animation">
      <div class="desc">
        <div class="logo-container-footer">
            <img class="logo" src="/images/logograd2.svg" alt="">
            <p>EGYPT INVESTOPEDIA</p>
        </div>
        <p class="footer-first-pragraph">One day however a small line of blind text <br> by the name of Lorem Ipsum decided to <br> leave for the far World of Grammar.</p>
        <div class="footer-social">
          <i class="fa-brands fa-facebook-f"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-instagram"></i> 
          <i class="fa-brands fa-linkedin-in"></i>
        </div>
      </div>
      <div class="pages">
        <h4>OTHER PAGES</h4>
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/egypt-investopedia/about">ABOUT US</a></li>
          <li><a href="/egypt-investopedia/startups">STARTUPS</a></li>
          <li><a href="/egypt-investopedia/events">FORUMS</a></li>
          <li><a href="/egypt-investopedia/login">LOGIN</a></li>
        </ul>
      </div>
      <div class="pages" style="margin-bottom: 3rem;">
        <h4>OTHER LNKS</h4>
        <ul>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Term Of Service</a></li>
          <li><a href="">FQAs</a></li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <div class="line"></div>
      <p>Egypt Investopedia Team</p>
      <p style="float: right;">Copyright &copy;  2024. All rights reserved.</p>
    </div>
  </footer>