.containerSP{
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info {
    text-align: center;
}

.buttons {
    margin-top: 20px;
}

.accept-button, .reject-button {
    padding: 10px 20px;
   
    
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.accept-button {
    background-color: #4CAF50;
    color: white;
    margin-right: 10px;
}

.reject-button {
    background-color: #f44336;
    color: white;
}
.btn{ margin-top: 20px;
    text-align: center;
   
}
.btn1{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 10px;
    
    background-color: #002040;
    width: 150px;
    color: #fff;
}
.btn1:hover{
  
    opacity: 0.8;
}
.img{
    width: 150px;
    height: 150px;
    border-radius: 5px;
}





